<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457781230976-u8qmhpvbu24b1igf61po8m2iv7f8n9ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457781230976-u8qmhpvbu24b1igf61po8m2iv7f8n9ql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457781230976-5h72aslo1mt8s6i2051tibuk66v6e89q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSbsoM1X8XI0XSKccHaVHQZDXm0vHAU6k</string>
	<key>GCM_SENDER_ID</key>
	<string>457781230976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.ehealthapp</string>
	<key>PROJECT_ID</key>
	<string>africa-ehealth</string>
	<key>STORAGE_BUCKET</key>
	<string>africa-ehealth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457781230976:ios:8dba75845afbf477395565</string>
</dict>
</plist>